name: flask CI

on:
  push:
  pull_request:
    types:
      - ready_for_review
      - review_requested

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9]
    services:
      db:
        image: postgres
        env:
          POSTGRES_DB: github-actions
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup Python
      uses: actions/setup-python@v2

    - name: Install Dependencies
      uses: BSFishy/pip-action@v1
      with:
        requirements: requirements.txt

#     - name: Wemake Python Stylguide
#       uses: wemake-services/wemake-python-styleguide@0.14.1
#       continue-on-error: true
#       with:
#         reporter: 'github-pr-review'
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: 'Run PEP8'
      uses: quentinguidee/pep8-action@v1
      with:
        arguments: '--exclude=./app/static/* --max-line-length=120'

    - name: Test
      run: |
        pytest -vvv
